*{
    box-sizing: border-box;
}
:root{
    --blue:  rgb(55, 80, 161);
    --green: rgb(32, 143, 51);
    --orange: rgb(202, 116, 17);
    --gold:  rgb(190, 188, 30);
    --red: rgb(177, 27, 27);
    --pink:  rgb(196, 93, 173);
    --angel:  #5AD3E1;
    --default:  rgb(156, 156, 156);
}
.item{
    background: url("hel.png") no-repeat;
    width:150px;
    height:150px;
}
body{
    background-color: rgb(6, 44, 11);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.item:hover .itemtip {
    display: block;
}
.itemtip {
    display: block;
    margin-left: 20px;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width:250px;
    height:150px;
    text-align: center;
    color: var(--default);
    border:  var(--default) 2px solid;
    background: url("hel.png") no-repeat;
    background-color:rgba(29, 34, 30, 0.877);
}
.invwin {
    background-color: rgb(3, 31, 2);
    width:100px;
    height:100px;
    display: inline-block;
    border: #062518 2px solid;
}
.blue{
    color: var(--blue);
    border: var(--blue) 2px solid;
}
.green{
    color:var(--green);
    border: var(--green) 2px solid;
}
.red{
    color: var(--red);
    border:  var(--red) 2px solid;
}
.orange{
    color:var(--orange);
    border: var(--orange) 2px solid;
}
.gold{
    color: var(--gold);
    border: var(--gold) 2px solid;
}
.angel{
    color: var(--angel);
    border: var(--angel) 2px solid;
}
.pink{
    color: var(--pink);
    border: var(--pink) 2px solid;
}
#met{
    display: inline-block;
}
#met:active{
    filter: invert(100%);
}
#drop{
    background-color:rgba(29, 34, 30, 0.877);
    color: var(--default);
    border:  var(--default) 2px solid;
    width:200px;
    height:100px;
    display: inline-block;
}


